
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style-type: style none;
}
  

html{
    scroll-behavior: smooth;
}
.nav_bar{
    display:flex;
    gap:3.5rem;
    height:15vh;
    width:100%;
    justify-content: center;
    align-items:center;
    position: fixed;
    text-transform: uppercase;
    background-color: #262525;
    position:sticky;
}

.Education ul li{
    list-style:none;
}
.nav_bar li a{
    text-decoration: none;
    font-size: 1rem;
    color:white;
}
.nav_bar{
    list-style: none;
}
.portfolio-container{
    text-decoration: none;
    min-height:100vh;
    width:100%;

}
.color-box{
    height:100vh;
    display:flex;
    position:sticky;
    z-index:2;
    top:0;
}
.left-container{
    padding: 30px;
    background-color:#262525;
    width:70%;
    padding-left:3rem;
    display: flex;
    align-items: center;
    gap:30px;
}
.right-container{
    background:linear-gradient(-45deg,#3877EE,#262525 70%);

    width:30%;
}
.icons .fa-brands{
    color:#bbb;
    font-size: 1.7rem;
}
.icons{
    justify-content: center;
    align-items: center;
    display:flex;
    justify-content: space-between;
    flex-direction:column;
    gap:3rem;
}
.content{
    margin-left: 2px;
}
.content .intro {
    font-size:1.3rem;
    color: white;
}
.content h1 {
    font-size: 3rem;
    color:#fff;
}
.content .aspire  span{
    color:#5DB9EE;
}
.content .intro span{
    color:#5DB9EE;
}
.content .detail{
    font-size:1.1rem;
    color:#ffff;
    max-width:38rem;
    margin: 1.1rem 0 3rem 0;
}
.content .Cont{
    border: .1rem solid #5DB9EE;
    font-size: 1rem;
    padding: .8rem 1.2rem;
    border-radius: 6px;
    color:#fff
}
.Cont{
   background:transparent ;
}
.Cont:hover{
   background-color: #5DB9EE ;
   cursor: pointer;
}
.design .circle{
    aspect-ratio: 1;
    position:absolute;
    border-radius: 50%;
    top:50%;
    left:70%;
    transform: translate(-50%,-50%);
}
.circle:nth-child(1){
    background:linear-gradient(90deg,transparent 50%,#262525 50%);
    width:20rem;

}
.circle:nth-child(2){
    background-image: url(photo.jpg);
    background-size:110%;
    background-repeat: no-repeat;
    width: 15rem;
    box-shadow: 0 0 1rem #fff, inset 0 0 1rem #fff,
    0 0 2rem #3877EE,
    inset 0 0 2rem #3877EE;
    ;
}
/* education */
.Education{
    /* background-image: linear-gradient(#3877EE,#262525);  */
    background-color:#262525;
    color: #fff;
}
.EDUC{
    padding:50px;
}
#edu{
    text-align: center;
}
.Education{
    padding-left: 30px;
}
.Education ul li h3{
    text-decoration: none;
}
/* skills section*/
.skill{
    padding-top:50px;
    padding-left:20px;
    background-color: #0e0e0e ;
    min-height:90vh;
    width:100%;
    
}
#skillss{
    background-color: #262525;
    text-align: center;
}
.skill>p{
    
}
.container {
    width: 100%; 
  }
  
  .skills {
    text-align: right;  
    padding-bottom: 10px;  
  }
  .container{
    height: 20px;
  }
  
  .html {height: 97% ; width: 90%; background-color: #5DB9EE ;} 
  .css {height: 97%; width: 80% ; background-color: #5DB9EE ;} 
  .Java {height: 97%;  width: 80% ;background-color: #5DB9EE ;} 
  .C-programming{height: 97%;  width: 60%;background-color: #5DB9EE ;} 



/* PROJECT SECTION */
  .project{
    display:flex;
    gap:40px;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
    background-color: #C5D9E2;
}
#proj{
    text-align: center;
    padding: 60px;
    text-decoration: underline;
    background-color: #C5D9E2;
}
ul{
    list-style-type:none;
}

.card1{
    width:40%;
    height:150px;
    background-color: #B3B5BB;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.card2{
    width:40%;
    height:150px;
    background-color:#B3B5BB;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}